
.icon-image2vector4:before { content: '\e800'; } /* '' */
.icon-image2vector3:before { content: '\e801'; } /* '' */
.icon-imagevector2:before { content: '\e802'; } /* '' */
.icon-image2vector1:before { content: '\e803'; } /* '' */
.icon-image2vector5:before { content: '\e804'; } /* '' */
.icon-image2vector:before { content: '\e805'; } /* '' */
.icon-github-circled:before { content: '\e806'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
